<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    </head>
    <body>
        <h1>Roskapankki</h1>
        <form method="post" action="/roskapankki/verify">
            <input type="text" placeholder="Insert Finnish identity code (henkilötunnus)" name="B02K_CUSTID" value="210281-9988" required/>
            <input type="text" placeholder="Full name" name="B02K_CUSTNAME" value="MEIKALAINEN MATTI" required/>
            <% form_values.each do |field_name, value| %>
                <input type="hidden" name="<%= field_name %>" value="<%= value %>" />
            <% end %>
            <button type="submit">Identify</button>
        </form>
    </body>
</html>
